.form {
  display: flex;
	width: 300px;
	margin: 64px auto 16px;
  gap: 8px;
}

.form input[type='text'] {
	flex-grow: 1;
	border: 1px solid #ddd;
}

.form input[type='button'] {
	border: 1px solid #ddd;
}

ul {
	width: 300px;
	margin: 0 auto;
  padding: 0;
}

li {
	display: flex;
  box-shadow: 0 1px 4px rgb(0 0 0 / .3);
  margin: 0 0 8px;
  padding: 8px 0;
}

li label {
  flex: 1;
  display: block;
  line-height: 32px;
  height: 32px;
}

li:has(input:checked) {
	background: #ffd;
}

li button {
	appearance: none;
	border: none;
	border-radius: 16px;
	width: 32px;
	height: 32px;
	background: rgb(0 0 0 / .1);
	margin-right: 8px;
	margin-left: auto;
}

li button:hover {
	background: rgba(0 0 0 / .4);
}

