.form {
	width: 300px;
	margin: 64px auto 16px;
}

.form > div {
	display: flex;
	gap: 8px;
	margin-top: 4px;
}

.form input[type='text'], .form input[type='date'], .form select {
	display: block;
	padding: 0;
	border: 1px solid #ddd;
	font-size: 16px;
	flex-grow: 1;
}

.form input[type='button'] {
	width: 80px;
	border: 1px solid #ddd;
}

.filter {
	width: 300px;
	margin: 16px auto;
}

ul {
	width: 300px;
	margin: 0 auto;
  padding: 0;
}

li {
	display: flex;
  box-shadow: 0 1px 4px rgb(0 0 0 / .3);
  margin: 0 0 8px;
  padding: 8px 0;
}

li.expired {
	background: #fcc;
}

li label {
  flex: 1;
  display: block;
  line-height: 32px;
  min-height: 32px;
}

li label p {
	margin: 0 20px 4px;
	font-size: .8em;
	line-height: 1em;
}

li label span {
	font-size: .8em;
	vertical-align: top;
	color: #999;
	margin-right: 8px;
}

li:has(input:checked) {
	background: #ffd;
}

li button {
	appearance: none;
	border: none;
	border-radius: 16px;
	width: 32px;
	height: 32px;
	background: rgb(0 0 0 / .1);
	margin-right: 8px;
	margin-left: auto;
}

li button:hover {
	background: rgba(0 0 0 / .4);
}

